<header xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="menu-container">
        <div>
            <img class="logo-image" th:src="@{../../images/icon.png}" />
        </div>
        <div class="nav-container">
            <ul class="nav">
                <li class="nav-item"><a th:href="@{/}" class="nav-link">Home</a></li>
                <li class="nav-item"><a th:href="@{/performers}" class="nav-link">Performers</a></li>
                <li class="nav-item"><a th:href="@{/development}" class="nav-link">For developers</a></li>
                <li class="nav-item"><a th:href="@{/documentation}" class="nav-link">Documentation</a></li>
                <li class="nav-item login-button"><a th:href="@{/login}" class="nav-link">Login</a></li>
            </ul>
        </div>
    </div>
</header>