* {
    font-size: 13px;
    color: #000000ad;
}

.container {
    margin-top: 30px;
    text-align: center;
}

.send-form {
    text-align: center;
}

label {
     width: 40%;
}

.description {
    margin: 0 auto;
    padding-top: 20px;
    width: 70%;
    text-align: justify;
}

.description p {
    margin-bottom: 0;
}

ul {
    list-style-type: none;
}

.no-margin {
    margin: 0;
    padding: 0.5em 0 0.5em 0;
}