.documentation-container {
    margin-top: 2em;
    font-size: 13px;
    color: #0000006b;
}

.page-title {
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 1.5rem;
}

.table-of-content {
    display: inline-block;
    width: 25%;
}

.table-of-content ul {
    padding-left: 0.6em;
    padding-right: 1em;
    list-style-type: none;
}

.table-of-content ul li p {
    margin-top: 10px;
    margin-bottom: 0;
}

.article-content {
    display: inline-block;
    width: 74%;
    float: right;
}

pre {
    padding: 10px;
    background-color: #0000000a;
}

.key-word {
    color: #1fac1f;
}

.value {
    color: #62bf62;
}

.comment {
    color: #616d71 !important;
    font-style: italic;
}

.string {
    color: #e59a05;
}

.directive {
    color: #2f54b8;
    font-weight: bold;
}

.operator {
    color: #9e1323;
}

.cursive {
    font-style: italic;
}

.var-text {
    background-color: #0000000a;
    color: #e59a05;
}

.point {
    font-size: 1.1em;
    letter-spacing: 1px;
    text-indent: 1em;
}

.pointer {
    display: inline-block;
    line-height: 20px;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    color: white;
    background-color: black;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.very-near {
    margin-left: 10px;
}

.near {
    margin-left: 30px;
}

.medium {
    margin-left: 60px;
}

.far {
    margin-left: 90px;
}

.legend-list {
    list-style: none;
    padding: 10px;
}

.legend-list li {
    padding-top: 5px;
}

.legend-list li p {
    display: inline;
}

.rule p {
    text-align: justify;
}

.rule h1 {
    font-size: 1.3rem;
}

.break {
    margin-top: 30px;
}

.table-wrapper {
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.specification-table {
    width: 100%;
    border-collapse: collapse;
}

.specification-table > td, th {
    text-align: left;
    min-width: 150px;
}

.left-indent {
    padding-left: 20px;
}

.specification-tag {
    color: white;
    border: 1px solid #908cff;
    display: inline-block;
    border-radius: 12px;
    background-color: #908cff;
    padding: 1px 10px;
}

.reference-section {
    margin-top: 60px;
    margin-bottom: 200px;
}

.properties-table {

}

.properties-table-header {
    border-bottom: 1px solid #0000005c;
}

.property {
    font-family: 'Source Code Pro', monospace;
    display: inline-block;
    padding: 4px;
    background-color: #b3d7ff5e;
    color: #004085;
    letter-spacing: 2px;
    margin-right: 25px;
    border-radius: 7px;
}

.minor {
    margin: 2px;
    font-size: 9px;
}

.properties-list {
    padding: 0;
    list-style-type: none;
}

.properties-list p {
    margin: 0;
}

.property-required {
    color: #e11919b0;
    font-weight: bold;
}

.horizontal-space {
    margin-top: 4vh;
}