.wrapper {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

.menu-container {
    display: flex;
    border-bottom: 1px solid rgba(147, 217, 248, 0.5490196078431373);
    padding-bottom: 9px;
}

.content-container {
    display: flex;
    margin-top: 10vh;
}

.content-container > div {
    width: 50%;
}

.logo-image {
    margin-top: 4px;
    margin-right: 30px;
    width: 40px;
    height: 40px;
}

.full-log-image {
    width: 270px;
    height: auto;
}

.nav-container {
    margin-top: 5px;
}

.text-box {
    text-align: justify;
    margin: 0 10px 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

.image-box {
    text-align: center;
}

.title {
    font-size: 15px;
    font-weight: bold;
}

.description {
    line-height: 1.5;
}

.footer {
    /*text-align: center;*/
    /*clear: both;*/
    /*height: 50px;*/
    width: 72%;
    bottom: 0;
    position: absolute;
    font-size: 13px;
    color: #000000ad;
}