<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet">
    <link href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>EaseCI development</title>
</head>
<body class="wrapper">
    <header th:insert="fragments/menu-bar.html :: header"></header>

    <div class="footer" th:insert="fragments/footer.html :: footer"></div>
</body>
</html>