<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/style-development.css" rel="stylesheet">
    <link href="../../webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="../../webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>EaseCI development</title>
</head>
<body class="wrapper">
<header th:insert="fragments/menu-bar.html :: header"></header>

<div class="wrapper">
    <div th:if="${isDataAdded == 'false'}">
        <form class="send-form" action="#" th:action="@{/performer/upload/form}" th:object="${request}" method="POST">
            <h3>Upload extension in .jar archive format</h3>
            <div>
                <label for="fullname">Author full name</label>
                <input type="text" th:field="*{authorFullname}" id="fullname">
                <p th:if="${#fields.hasErrors('authorFullname')}" th:errors="*{authorFullname}"></p>
            </div>
            <div>
                <label for="email">Author email</label>
                <input type="text" th:field="*{authorEmail}" id="email">
                <p th:if="${#fields.hasErrors('authorEmail')}" th:errors="*{authorEmail}"></p>
            </div>
            <div>
                <label for="company">Company</label>
                <input type="text" th:field="*{company}" id="company">
                <p th:if="${#fields.hasErrors('company')}" th:errors="*{company}"></p>
            </div>
            <div>
                <label for="name">Performer name</label>
                <input type="text" th:field="*{performerName}" id="name">
                <p th:if="${#fields.hasErrors('performerName')}" th:errors="*{performerName}"></p>
            </div>
            <div>
                <label for="version">Performer version</label>
                <input type="text" th:field="*{performerVersion}" id="version">
                <p th:if="${#fields.hasErrors('performerVersion')}" th:errors="*{performerVersion}"></p>
            </div>
            <div class="submit">
                <input class="btn btn-info" type="submit" value="Next" id="submit">
            </div>
        </form>
    </div>
    <div th:if="${isDataAdded == 'true' and isFileSaved != 'true'}">
        <form class="send-form" enctype="multipart/form-data" th:action="@{/performer/upload}" method="POST">
            <h3>Choose file in .jar archive format</h3>
            <input class="file-choose" type="file" name="file">
            <input type="hidden" th:field="${request.authorFullname}">
            <input type="hidden" th:field="${request.authorEmail}">
            <input type="hidden" th:field="${request.company}">
            <input type="hidden" th:field="${request.performerName}">
            <input type="hidden" th:field="${request.performerVersion}">
            <div class="summary-info">
                <p>Author fullname: <span th:text="${request.authorFullname}"></span></p>
                <p>Author email: <span th:text="${request.authorEmail}"></span></p>
                <p>Company: <span th:text="${request.company}"></span></p>
                <p>Performer name: <span th:text="${request.performerName}"></span></p>
                <p>Performer version: <span th:text="${request.performerVersion}"></span></p>
            </div>
            <input class="btn btn-info" type="submit" value="Upload file">
        </form>
    </div>
    <div class="alert alert-success" role="alert" th:if="${isFileSaved == 'true'}">
        <p>Successfully added Performer!</p>
        <div class="add-description" th:if="${isDescriptionAdded == 'false'}">
            <p>Optionally you can add/update description of your plugin.
                It is good practice to write something about plugin's working, usage etc.
                Notice that one plugin can has only one description, regardless versions.</p>
            <form class="description-form" th:action="@{/performer/description}" method="POST">
                <textarea name="description" th:field="${description.description}"></textarea>
                <input type="hidden" th:field="${description.performerName}">
                <input class="btn btn-info" type="submit" value="Save description">
            </form>
        </div>
        <div class="add-description" th:if="${isDescriptionAdded == 'true'}">
            <p>Description added correctly</p>
        </div>
        <a th:href="@{'/performer/' + ${performerName}}">Preview plugin</a>
    </div>
    <div class="alert alert-danger" role="alert" th:if="${isFileSaved == 'false' and isDataAdded == 'true'}">
        <p>Something went wrong and Performer was not added. Errors occurred:</p>
        <ul th:each="error : ${validationErrors}">
            <li><p th:text="${error.message}"></p></li>
        </ul>
    </div>
</div>

<div class="footer" th:insert="fragments/footer.html :: footer"></div>
</body>
</html>