<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/style-development.css" rel="stylesheet">
    <link href="../webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="../webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>EaseCI development</title>
</head>
<body class="wrapper">
<header th:insert="fragments/menu-bar.html :: header"></header>

<div class="wrapper">
    <h3>Upload extension in .jar archive format script</h3>
    <div th:if="${isDataAdded == 'false'}">
        <form class="send-form" action="#" th:action="@{/performer/upload}" th:object="${request}" method="POST">
            <label for="fullname">Author full name</label>
            <input type="text" th:field="${request.authorFullname}" id="fullname">
            <br>

            <label for="email">Author email</label>
            <input type="text" th:field="${request.authorEmail}" id="email">
            <br>

            <label for="company">Company</label>
            <input type="text" th:field="${request.company}" id="company">
            <br>

            <label for="name">Performer name</label>
            <input type="text" th:field="${request.performerName}" id="name">
            <br>

            <label for="version">Performer version</label>
            <input type="text" th:field="${request.performerVersion}" id="version">
            <br>

            <label for="submit">Send if complete</label>
            <input class="btn btn-info" type="submit" value="Send" id="submit">
        </form>
    </div>
    <div th:if="${isDataAdded == 'true' and isFileSaved != 'true'}">
        <form enctype="multipart/form-data" th:action="@{/performer/upload}" method="POST">
            <input type="file" name="file">
            <input type="hidden" th:field="${request.authorFullname}">
            <input type="hidden" th:field="${request.authorEmail}">
            <input type="hidden" th:field="${request.company}">
            <input type="hidden" th:field="${request.performerName}">
            <input type="hidden" th:field="${request.performerVersion}">
            <input class="btn btn-info"  type="submit" value="Send">
        </form>
    </div>
    <div class="alert alert-success" role="alert" th:if="${isFileSaved == 'true'}">
        <p style="text-align: center">Successfully added Performer!</p>
        <div class="add-description" th:if="${isDescriptionAdded == 'false'}">
            <p>Optionally you can add/update description of your plugin.
            It is good practice to write something about plugin's working, usage etc.
            Notice that one plugin can has only one description, regardless versions.</p>
            <form th:action="@{/performer/description}" method="POST">
                <textarea name="description" th:field="${description.description}"></textarea>
                <input type="hidden" th:field="${description.performerName}">
                <input class="btn btn-info"  type="submit" value="Save description">
            </form>
        </div>
        <div class="add-description" th:if="${isDescriptionAdded == 'true'}">
            <p>Description added correctly</p>
        </div>
        <a style="text-align: center" th:href="@{'/performer/' + ${performerName}}">Preview plugin</a>
    </div>
    <div class="alert alert-danger" role="alert" th:if="${isFileSaved == 'false' and isDataAdded == 'true'}">
        <p style="text-align: center">Something went wrong and Performer was not added. Errors occurred:</p>
        <ul th:each="error : ${validationErrors}">
            <li><p th:text="${error.message}"></p></li>
        </ul>
    </div>
</div>

<div class="footer" th:insert="fragments/footer.html :: footer"></div>
</body>
</html>